<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burn after reading</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><u><b>Create Account</b></u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><u>About</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><u>Sign In</u></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container justify-content-center pt-3">
        <div class="row center">

            <div class="col-md-3">
                <!-- just a placeholder for space-->
            </div>

            <div class="col-md-6">

                {% if status == 1 %}
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Secreted created!</h4>
                      <p>Now you are free to share this secret with the person you like.</p>
                      <hr>
                        <p class="mb-0">Link to share: <code>https://www.google.com/?client=safari&hash={{ hash_link }}</code>.</p>
                    </div>

                    <form id="secretForm" action="/" method="GET">

                      <div class="d-grid gap-2 col-12 pt-4 mx-auto">
                          <button class="btn btn-lg btn-dark" type="submit" value="Submit">Go to main menu</button>
                      </div>

                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Something went wrong!!</h4>
                      <p>Something crashed on server, we couldn't create a secret.</p>
                      <hr>
                        <p class="mb-0">Contact system administrator.</p>
                    </div>

                    <form id="secretForm" action="/" method="GET">

                      <div class="d-grid gap-2 col-12 pt-4 mx-auto">
                          <button class="btn btn-lg btn-danger" type="submit" value="Submit">Go to main menu</button>
                      </div>

                    </form>
                {% endif %}

            </div>

            <div class="col-md-3">
                <!-- just a placeholder for space-->
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  </body>
</html>