{% extends "base.html" %}

{% block title %}Secret Created{% endblock %}

{% block content %}
    <div class="container justify-content-center pt-3">
        <div class="row center">

            <div class="col-md-3">
                <!-- just a placeholder for space-->
            </div>

            <div class="col-md-6">

                <h4 class="mb-3">Here is your secret:</h4>
                <div class="bg-light p-3 mb-3 border rounded">
                    <pre class="mb-0 user-select-all"><code>{{ secret }}</code></pre>
                </div>
                <p class="text-muted small">Click the text above to select, then copy (Ctrl+C or Cmd+C)</p>


                <form class="d-grid gap-2 col-12 pt-4 mx-auto" action="/" method="GET">
                    <button class="btn btn-lg btn-success" type="submit">Go to Main Page</button>
                </form>

            </div>

            <div class="col-md-3">
                <!-- just a placeholder for space-->
            </div>

        </div>
    </div>

{% endblock %}